<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Typhoon</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <style type="text/css">
/*    thead {
      position: fixed;
    }*/
  </style>
</head>
<body ng-app="app" ng-controller="MainController as mainCtrl">

  <!--<button class="btn btn-default" type="submit" ng-click="mainCtrl.test()">Refresh</button>-->
	<center><h1>{{ mainCtrl.data[0].DPName[0] }}最新災情</h1></center>
  
  <div class="container">
    <div class="form-group">
      <select class="form-control" ng-model="selDist" ng-options="val for (key, val) in mainCtrl.districts">
      <option value="">-- 地區 --</option>
      </select>
    </div>	 
    <div class="form-group">
      <select class="form-control" ng-model="selDtype" ng-options="val for (key, val) in mainCtrl.dtype">
      <option value="">-- 災情分類 --</option>
      </select>
    </div>	     
    <table class="table table-striped">
      <thead>
        <tr>
          <th>災情</th>
          <th>分類</th>
          <th>地區</th>
          <th>地址</th>
          <th>災情描述</th>
          <!--<th>颱風</th>-->
          <th>時間</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in mainCtrl.data | filter: {CaseLocationDistrict:selDist || undefined} | filter: {PName:selDtype || undefined}" ng-class="{success: row.CaseComplete[0]=='true'}" >
          <!--<td>{{row.Name}}</td>
          <td>{{row.PName}}</td>
          <td>{{row.CaseLocationDistrict}}</td>
          <td>{{row.CaseLocationDescription}}</td>
          <td>{{row.CaseDescription}}</td>
          <td>{{row.DPName}}</td>
          <td>{{row.CaseTime}}</td>-->
          <td>{{row.Name[0]}}</td>
          <td>{{row.PName[0]}}</td>
          <td><span class="label label-primary">{{row.CaseLocationDistrict[0]}}</span></td>
          <td>{{row.CaseLocationDescription[0]}}</td>
          <td>{{row.CaseDescription[0]}}</td>
          <!--<td>{{row.DPName[0]}}</td>-->
          <td>{{row.CaseTime[0]}}</td>    
        </tr>
      </tbody>
    </table>    
  </div>


  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>